<h1> my node os is :  <%= node['platform'] %>  </h1>
<h1> my node platform_version is :  <%= node['platform_version'] %>  </h1>
<h1> my node platform_family is :  <%= node['platform_family'] %>  </h1>

